{#
/**
 * @file
 * Default theme implementation of a CEFRL description element.
 *
 * Available variables:
 * - label: the CEFRL level or group label;
 * - description: the CEFRL level or group label
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
#}
<details>
  <summary>{{ label }}</summary>
  {{ description|nl2br }}
</details>
